mat-toolbar {
    display: flex;
    justify-content: space-between;    
}

mat-toolbar span {
    font-size: xx-large;
    display: flex;
    justify-content: center;
}

mat-toolbar div a {
    text-decoration: none;
    color: inherit; 
    cursor: pointer;
    padding-right: 20px;
}

